<div class="pagination-container">
  <div class="btn-group btn-group-sm">
    {{#if (gte content.page 2)}}
      <a class="arrow prev enabled-arrow btn" href="#" {{action "pageClicked" 1}}>&laquo;</a>
    {{else}}
      <a class="arrow prev disabled btn" href="#">&laquo;</a>
    {{/if}}

    {{#if canStepBackward}}
      <a class="arrow prev enabled-arrow btn" href="#" {{action "incrementPage" -1}}>&lt;</a>
    {{else}}
      <a class="arrow prev disabled btn" href="#" {{action "incrementPage" -1}}>&lt;</a>
    {{/if}}

    <div class="overview-text btn">{{pageCountContent}}</div>

    {{#if canStepForward}}
      <a class="arrow next enabled-arrow btn" href="#" {{action "incrementPage" 1}}>&gt;</a>
    {{else}}
      <a class="arrow next disabled btn" href="#" {{action "incrementPage" 1}}>&gt;</a>
    {{/if}}
    {{#if (lt content.page content.totalPages)}}
      <a class="arrow prev enabled-arrow btn" href="#" {{action "pageClicked" content.totalPages}}>&raquo;</a>
    {{else}}
      <a class="arrow prev disabled btn" href="#">&raquo;</a>
    {{/if}}
  </div>
</div>
