<div class="modal col {{destruct modalOpts.modalClasses}}">
  <div class="text-default modal-header">
    <h4 class="modal-title">{{modalOpts.modalHeader}}</h4>
  </div>
  <div class="modal-content">
    <p>{{modalOpts.modalContent}}</p>
  </div>
  <div class="modal-footer text-right">
    <button class="btn bg-transparent" {{action 'close'}}>{{modalOpts.modalCancelButton}}</button>
    <button class="btn bg-primary" {{action 'go'}}>{{modalOpts.modalGoButton}}</button>
  </div>
</div>
