<table class="fixed lacsso grid sortable-table">
  <thead>
    <tr class="lacsso fixed-header-placeholder">
      {{#if bulkActions}}
        <th class="lacsso" width="30"></th>
      {{/if}}
      {{#each headers as | header idx|}}
        <th width={{if header.width header.width}}></th>
      {{/each}}
    </tr>
    {{#if bulkActions}}
      <div class="lacsso fixed-header-actions row">
        <div class="lacsso col span-4">
          <div class="lacsso container-actions">
            {{#if availableActions}}
              {{#rl-dropdown-container class="dropdown"}}
                {{#rl-dropdown-toggle class="btn btn-sm btn-primary"}}
                  Actions <span class="lacsso icon icon-chevron-down" style="position: relative; top: 2px;"></span>
                {{/rl-dropdown-toggle}}

                {{#rl-dropdown tagName="ul" class="resource-actions global-actions dropdown-menu dropdown-menu-right" closeOnChildClick="a:link"}}
                  <li class="resource-actions-tabbable"><a tabindex="-1" id="resource-actions-first" aria-label="Select an Action below"></a></li>
                  {{#each availableActions as | action index|}}
                    {{#if action.bulkActionName}}
                      <li {{action 'executeBulkAction' action.action}}>
                        <a href="#" tabindex={{index}}>
                          {{action.bulkActionName}}
                          <i class="{{action.icon}}"></i>
                        </a>
                      </li>
                    {{else}}
                      <li {{actiactionon 'executeAction' action.action}}>
                        <a href="#" tabindex={{index}}>
                          {{action.translatedLabel}}
                          <i class="{{action.icon}}"></i>
                        </a>
                      </li>
                    {{/if}}
                  {{/each}}
                {{/rl-dropdown}}
              {{/rl-dropdown-container}}
            {{else}}
              <button class="btn btn-sm btn-primary" disabled>
                Actions <span class="lacsso icon icon-chevron-down"></span>
              </button>
            {{/if}}
          </div>
        </div>
        <div class="lacsso col span-4">
          <div class="lacsso input-group">
            <span class="input-group-addon">
              <label for="table-search" style="display: table-cell; font-weight: normal;">Search:</label>
            </span>
            {{input value=searchText type="search" class="form-control input-sm" name="table-search"}}
            {{#if searchText}}
              <span class="input-group-btn">
                <button class="btn btn-sm bg-default" {{action 'clearSearch'}}><i class="icon icon-close"/></button>
              </span>
            {{/if}}
          </div>
        </div>
        <div class="lacsso col span-4">
          {{page-numbers content=pagedContent class="lacsso pull-right" pageCountContent=pageCountContent}}
        </div>
      </div>
    {{/if}}

    <tr class="lacsso fixed-header">
      {{#if bulkActions}}
        <th width="30" class="text-center">
          {{check-box classNames="lacsso select-all-check" click=(action "selectAll")}}
        </th>
      {{/if}}
      {{#each headers as | header |}}
        {{sortable-thead
          sortable=this
          current=sortBy
          descending=descending
          action="changeSort"
          name=header.name
          isActions=header.isActions
          label=header.displayName
          classNames=header.classNames
          }}
      {{/each}}
    </tr>
  </thead>
  <tbody class="lacsso">
    {{#each pagedContent as |content|}}
      <tr>
        {{#if bulkActions}}
          <td width='40' class="lacsso select-for-action">
            {{check-box nodeId=content.id}}
          </td>
        {{/if}}
        {{#if hasBlock}}
          {{yield content}}
        {{else}}
          {{#each headers as |header|}}
            <td data-title={{header.displayName}} data-id={{content.id}}>{{select-property content header.name}}</td>
          {{/each}}
        {{/if}}
      </tr>
    {{/each}}
  </tbody>

</table>
