<table class="fixed lacsso grid sortable-table">
  <thead>
    <tr class='lacsso fixed-header-placeholder'>
      {{#if bulkActions}}
        <th class="lacsso" width='40'></th>
      {{/if}}
      {{#each headers as | header idx|}}
        <th width={{if header.width header.width}}></th>
      {{/each}}
    </tr>
    {{#if bulkActions}}
      <div class='lacsso fixed-header-actions row gutless mb-10'>
        <div class="lacsso col span-2 m-0">
          <div class='lacsso container-actions'>
            {{#if availableActions}}
              {{#rl-dropdown-container class="dropdown"}}
                {{#rl-dropdown-toggle class="btn btn-sm btn-default"}}
                  Actions <span class="lacsso icon icon-chevron-down"></span>
                {{/rl-dropdown-toggle}}

                {{#rl-dropdown tagName="ul" class="resource-actions global-actions dropdown-menu dropdown-menu-right" closeOnChildClick="a:link"}}
                  <li class="resource-actions-tabbable"><a tabindex="-1" id="resource-actions-first" aria-label="Select an Action below"></a></li>
                  {{#each availableActions as | action index|}}
                    {{#if action.bulkActionName}}
                      <li class="" {{action 'executeBulkAction' action.action}}>
                        <a href="#" tabindex={{index}}>
                          {{action.bulkActionName}}
                          <i class="{{action.icon}}"></i>
                        </a>
                      </li>
                    {{else}}
                      <li class="" {{actiactionon 'executeAction' action.action}}>
                        <a href="#" tabindex={{index}}>
                          {{action.translatedLabel}}
                          <i class="{{action.icon}}"></i>
                        </a>
                      </li>
                    {{/if}}
                  {{/each}}
                {{/rl-dropdown}}
              {{/rl-dropdown-container}}
            {{else}}
              <button class="btn btn-sm btn-default" disabled>
                Actions <span class="lacsso icon icon-chevron-down"></span>
              </button>
            {{/if}}
          </div>
        </div>
        <div class="lacsso col span-7 m-0 container-search">
          <div class="lacsso row inline-form gutless">
            <span class="lacsso col span-1 offset-3 mt-0 mb-0 pr-10" style="min-width:100px;line-height:27px;text-align:right;">
              <label for="table-search">Search</label>
            </span>
            <span class="container-search lacsso col span-5 mt-0 mb-0">
              {{input value=searchText class="form-control input-sm" name="table-search"}}
            </span>
            <button class="col span-1 input-label mt-0 mb-0 btn bg-danger btn-sm" {{action 'clearSearch'}} disabled={{not searchText}}>Clear</button>
          </div>
        </div>
        <div class="lacsso col span-3 m-0" style="min-width:200px;">
          {{page-numbers content=pagedContent class="lacsso pull-right" pageCountContent=pageCountContent}}
        </div>
      </div>
    {{/if}}

    <tr class='lacsso fixed-header'>
      {{#if bulkActions}}
        <th width='40' class="text-center">
          {{check-box classNames="lacsso select-all-check" click=(action "selectAll")}}
        </th>
      {{/if}}
      {{#each headers as | header |}}
        {{sortable-thead
          sortable=this
          current=sortBy
          descending=descending
          action="changeSort"
          name=header.name
          isActions=header.isActions
          label=header.displayName
          classNames=header.classNames
          }}
      {{/each}}
    </tr>
  </thead>
  <tbody class="lacsso">
    {{#each pagedContent as |content|}}
      <tr>
        {{#if bulkActions}}
          <td width='40' class="lacsso select-for-action">
            {{check-box nodeId=content.id}}
          </td>
        {{/if}}
        {{#if hasBlock}}
          {{yield content}}
        {{else}}
          {{#each headers as |header|}}
            <td data-title={{header.displayName}} data-id={{content.id}}>{{select-property content header.name}}</td>
          {{/each}}
        {{/if}}
      </tr>
    {{/each}}
  </tbody>

</table>
