<table class="fixed grid sortable-table">
  <thead>
    <tr class="fixed-header-placeholder">
      {{#if bulkActions}}
        <th class="lacsso" width="40"></th>
      {{/if}}
      {{#each headers as | header idx|}}
        <th width={{if header.width header.width}}></th>
      {{/each}}
    </tr>
    {{#if bulkActions}}
      <div class="fixed-header-actions row">
        <div class="col span-4">
          <div class="container-actions">
            {{#if availableActions}}
              {{#rl-dropdown-container class="dropdown"}}
                {{#rl-dropdown-toggle class="btn btn-sm bg-primary"}}
                  Actions {{#if (gt selectedNodes.length 1)}}({{selectedNodes.length}}) {{/if}}<span class="icon icon-chevron-down" style="position: relative; top: 2px;"></span>
                {{/rl-dropdown-toggle}}

                {{#rl-dropdown tagName="ul" class="resource-actions global-actions dropdown-menu dropdown-menu-right" closeOnChildClick="a:link"}}
                  <li class="resource-actions-tabbable"><a tabindex="-1" id="resource-actions-first" aria-label="Select an Action below"></a></li>
                  {{#each availableActions as | action index|}}
                    {{#if action.disabled}}
                      <li class="disabled">
                        <a href="#" onclick="return false;" tabindex={{index}}>
                          {{if action.bulkActionName action.bulkActionName action.translatedLabel}}
                          <i class="{{action.icon}}"></i>
                        </a>
                      </li>
                    {{else}}
                      <li {{action 'executeBulkAction' action.action}}>
                        <a href="#" tabindex={{index}}>
                          {{if action.bulkActionName action.bulkActionName action.translatedLabel}}
                          <i class="{{action.icon}}"></i>
                        </a>
                      </li>
                    {{/if}}
                  {{/each}}
                {{/rl-dropdown}}
              {{/rl-dropdown-container}}
            {{else}}
              <button class="btn btn-sm bg-primary" disabled>
                Actions <span class="icon icon-chevron-down" style="position: relative; top: 2px;"></span>
              </button>
            {{/if}}
          </div>
        </div>
        <div class="col span-4">
          <div class="row inline-form gutless">
            <span class="col span-3 input-label bg-default input-sm">
              <label>Search:</label>
            </span>
            {{input value=searchText type="search" class="col span-8 input-sm"}}
            {{#if searchText}}
              <span class="col span-1">
                <button class="btn btn-sm bg-default" {{action 'clearSearch'}}><i class="icon icon-close"/></button>
              </span>
            {{/if}}
          </div>
        </div>
        <div class="col span-4">
          {{page-numbers content=pagedContent class="pull-right no-select" pageCountContent=pageCountContent}}
        </div>
      </div>
    {{/if}}

    <tr class="fixed-header">
      {{#if bulkActions}}
        <th width="40" class="text-center">
          {{check-box classNames="select-all-check" checked=isAll}}
        </th>
      {{/if}}
      {{#each headers as | header |}}
        {{sortable-thead
          sortable=this
          current=sortBy
          descending=descending
          action="changeSort"
          name=header.name
          isActions=header.isActions
          label=header.displayName
          classNames=header.classNames
          }}
      {{/each}}
    </tr>
  </thead>
  <tbody class="lacsso">
    {{#each pagedContent as |content|}}
      <tr>
        {{#if bulkActions}}
          <td width="40" class="select-for-action">
            {{check-box nodeId=content.id}}
          </td>
        {{/if}}
        {{#if hasBlock}}
          {{yield content}}
        {{else}}
          {{#each headers as |header|}}
            <td data-title={{header.displayName}} data-id={{content.id}}>{{select-property content header.name}}</td>
          {{/each}}
        {{/if}}
      </tr>
    {{else}}
      {{#if hasBlock}}
        {{yield content}}
      {{/if}}
    {{/each}}
  </tbody>

</table>
