<thead>
  <tr class='fixed-header-placeholder'>
    {{#if bulkActions}}
      <th width='40'></th>
    {{/if}}
    {{#each headers as | header idx|}}
      <th width={{if header.width header.width}}></th>
    {{/each}}
  </tr>
  {{#if bulkActions}}
    <div class='fixed-header-actions'>
      <div class='container-actions'></div>
      <div class="container-select-all">
        {{check-box clickHappened=(action 'selectUnselectAll')}}
      </div>
    </div>
  {{/if}}

  <tr class='fixed-header'>
    {{#if bulkActions}}
      <th width='40' class="text-center"></th>
    {{/if}}
    {{#each headers as | header |}}
      {{sortable-th
        current=sortBy
        descending=descending
        action="changeSort"
        name=header.name
        label=header.displayName
        classNames=header.classNames
        }}
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each arranged as |content|}}
    <tr>
      {{#if bulkActions}}
        <td width='40' class="text-center">
          {{check-box clickHappened=(action 'selectUnselect' content) selectAll=selectAll}}
        </td>
      {{/if}}
      {{#each headers as |header|}}
        <td data-title={{header.displayName}} data-id={{content.id}}>{{select-property content header.name}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>

